<ion-header>
    <ion-toolbar color= "dark">
    <ion-title>
      Usuário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
    <ion-item>
      <ion-label>
          <ion-chip>
              <ion-avatar>
                <img src="./assets/avatar/avatar.png">
              </ion-avatar>
              <ion-label>Avatar</ion-label>
    
            </ion-chip>
            
      </ion-label>
    </ion-item>
  
    <ion-item lines="none">
      <ion-label>
        Olá Nome de Usuário!
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label text-wrap>
      Seja bem vindo a sua área de usuário, onde você pode alterar suas foto, além de ver suas informações aqui.
      </ion-label>
    </ion-item>
  
    <ion-item>
        <ion-label text-wrap>
        Você está trabalhando conosco a x dias.
        Sua data de ingresso foi: DD/MM/YYYY
        </ion-label>
      </ion-item>
  
    <ion-item lines="full">
      <ion-label>
        Seu aniversário é no dia: DD/MM/YYYY
      </ion-label>
    </ion-item>
  
  </ion-list>
</ion-content>
