<ion-header>
    <ion-toolbar color= "dark">
    <ion-title>Criar Nova Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Material Para Escritório</ion-list-header>
      <ion-item>
        <ion-label>Resma de Papel A4</ion-label>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox color="dark" slot="start"></ion-checkbox>
        <ion-label>Caneta</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox color="secondary" slot="start"></ion-checkbox>
        <ion-label>Pasta Para Documentos</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="danger" slot="start"></ion-checkbox>
        <ion-label>Lápis Comum</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
        <ion-label>Grafite</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="tertiary" slot="start"></ion-checkbox>
        <ion-label>Blocos Adesivos</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="medium" slot="start"></ion-checkbox>
        <ion-label>Calculadora</ion-label>
      </ion-item>
      <ion-item>
        <ion-checkbox color="primary" slot="start"></ion-checkbox>
        <ion-label>Clips</ion-label>
      </ion-item>

    </ion-list>

    <div text-center margin-top>
      <ion-button color="dark">Confirmar</ion-button>
      </div>
</ion-content>
